/* loader1 for white background */

.tetrominos {
    position: absolute;
    left: 40%;
    top: 40%;
    transform: translate(-40%, -40%);
}

.tetromino {
    width: 96px;
    height: 112px;
    position: absolute;
    transition: all ease 0.3s;
    background: url('data:image/svg+xml;utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 684"%3E%3Cpath fill="%236155BE" d="M305.7 0L0 170.9v342.3L305.7 684 612 513.2V170.9L305.7 0z"/%3E%3Cpath fill="%23fff" d="M305.7 80.1l-233.6 131 233.6 131 234.2-131-234.2-131"/%3E%3C/svg%3E') no-repeat top center;

}

.box1 {
    animation: tetromino1 1.5s ease-out infinite;
}

.box2 {
    animation: tetromino2 1.5s ease-out infinite;
}

.box3 {
    animation: tetromino3 1.5s ease-out infinite;
    z-index: 2;
}

.box4 {
    animation: tetromino4 1.5s ease-out infinite;
}

@keyframes tetromino1 {

    /* compose logo */
    /* 1 on 3 */
    /* L-shape */
    0%,
    40% {
        transform: translate(0, 0);
    }

    50% {
        /* pre-box */
        transform: translate(48px, -27px);
    }

    60%,
    100% {
        /* box */
        /* compose logo */
        transform: translate(96px, 0);
    }
}

@keyframes tetromino2 {

    /* compose logo */
    /* 1 on 3 */
    0%,
    20% {
        transform: translate(96px, 0px);
    }

    40%,
    100% {
        /* L-shape */
        /* box */
        /* compose logo */
        transform: translate(144px, 27px);
    }
}

@keyframes tetromino3 {

    /* compose logo */
    0% {
        transform: translate(144px, 27px);
    }

    20%,
    60% {
        /* 1 on 3 */
        /* L-shape */
        /* box */
        transform: translate(96px, 54px);
    }

    90%,
    100% {
        /* compose logo */
        transform: translate(48px, 27px);
    }
}

@keyframes tetromino4 {

    /* compose logo */
    /* 1 on 3 */
    /* L-shape */
    /* box */
    0%,
    60% {
        transform: translate(48px, 27px);
    }

    90%,
    100% {
        /* compose logo */
        transform: translate(0, 0);
    }
}

/* loader2 for dark background */

.loader {
    background: #1A1A27;
    background: radial-gradient(#1A1A27, #1A1A27);
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

.loader-inner {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}

.loader-line-wrap {
    animation: 
    spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite
  ;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    width: 100px;
}
.loader-line {
    border: 4px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}
.loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
.loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
.loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
.loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
.loader-line-wrap:nth-child(5) { animation-delay: -250ms; }

.loader-line-wrap:nth-child(1) .loader-line {
    border-color: hsl(0, 80%, 60%);
    height: 90px;
    width: 90px;
    top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
    border-color: hsl(60, 80%, 60%);
    height: 76px;
    width: 76px;
    top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
    border-color: hsl(120, 80%, 60%);
    height: 62px;
    width: 62px;
    top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
    border-color: hsl(180, 80%, 60%);
    height: 48px;
    width: 48px;
    top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
    border-color: hsl(240, 80%, 60%);
    height: 34px;
    width: 34px;
    top: 35px;
}

@keyframes spin {
    0%, 15% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}